header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;

  .header-img {
    width: 5%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .nav-link {
     color: $primary-color;
    }
  }
}
