$primary-color: #3498db;

body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $primary-color;
}

.tilt-container {
  width: 350px;
  margin: 0 auto;
}

.slider {
  width: 80%;
  margin: 0 auto;
}