// COLOR 

$bg-color: #222222;
$primary-color: #F2F2F2;
$light-color: #4185A7;
$dark-color: #0C1F29;


// MARGIN

$s-margin: 1rem;
$m-margin: 2rem;
$l-margin: 5rem;
$mid-margin: 0 auto;

// PADDING

$s-padding: 1rem;
$m-padding: 2rem;
$l-padding: 5rem;
$s-btn-padding: .5rem 1rem;
$m-btn-padding: 1rem 2rem;


