// COLORS

$black: #000000;
$light-blue: #4185A7;
$dark-blue: #0C1F29;
$light-gray: #D9D9D9;
$dark-gray: #626262;
$radial-grad: radial-gradient(circle, rgba(12, 31, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
$linear-grad: linear-gradient(180deg, rgba(65, 133, 167, 1) 0%, rgba(217, 217, 217, 1) 100%);
