{{ define "main" }}
<div class="hero">
	<div class="hero-text">
		{{ .Content }}
	</div>
</div>
<div class="cards-containter">
	<div class="card">
		<img class="card-icon" src="/img/muscle.svg">
		<div class="card-title">{{ i18n "strong" }}</div>
		<div class="card-description">{{ i18n "strongDescription" }}</div>
	</div>
	<div class="card">
		<img class="card-icon" src="/img/muscle.svg">
		<div class="card-title">{{ i18n "strong" }}</div>
		<div class="card-description">{{ i18n "strongDescription" }}</div>
	</div>
	<div class="card">
		<img class="card-icon" src="/img/muscle.svg">
		<div class="card-title">{{ i18n "strong" }}</div>
		<div class="card-description">{{ i18n "strongDescription" }}</div>
	</div>
	<div class="card">
		<img class="card-icon" src="/img/muscle.svg">
		<div class="card-title">{{ i18n "strong" }}</div>
		<div class="card-description">{{ i18n "strongDescription" }}</div>
	</div>
</div>
<div class="teaser">
	<div class="teaser-title">{{ i18n "teaserTitle"}}"</div>
	<div class="teaser-description">{{ i18n "easerDescription" }}</div>
	<a href="#linkToNews" class="teaser-link">{{ i18n "moreInfo" }}</a>
</div>
<iframe src="https://player.twitch.tv/?mrjokytv&parent=mrjoky.github.com" height="<height>" width="<width>"
	allowfullscreen>
</iframe>
{{ end }}
